# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
*.lcov
.nyc_output

# Production
dist/
build/

# Misc
.DS_Store
*.pem
.env*.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*
.pnpm-debug.log*
lerna-debug.log*

# IDE
.vscode/*
!.vscode/extensions.json
.idea
*.swp
*.swo
*~
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Turbo
.turbo

# Next.js
.next/
out/

# Playwright
playwright-report/
playwright/.cache/
test-results/

# Vitest
*.timestamp-*